html {
    min-height: 100vh;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}

#app-body {
	background: #4fbbe0;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

#app-header {
	background: #232323;
	color: #ffffff;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

#app-footer {
	background: #232323;
	color: #ffffff;
	width: 100%;
	height: 50px;
	overflow: hidden;
}

#footer {
	text-align: center;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

#header {
	float: center;
	text-align: center;
	margin: 5px;
	font-size: 25px;
	padding-bottom: 40px;	
}

#app-header a, #app-header a::visited {
	font-size: 10sp;
}

#app-header a:hover {
	font-size: 30sp;
	text-decoration: underline;
}

#app-header a:visited {
	color: white;
	text-decoration: none;
}

#app-header a {
	color: white;
	text-decoration: none;
}

#languages{
	float: right;
	margin: 10px 10px 10px 10px;
}

.headerLeftItem{
	float: left;
	margin: 10px 0px 10px 10px;
}
